<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Your Mug</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>Edit Your Mug</h1>
  <form method="post" action="/submit/mug" >
    <input type="hidden" value="{{_id}}" name="_id"/>
    <input type="text" id="city" value={{city}} name="city"><br />
    <input type="text" id="country" value={{country}} name="country"><br />
    <input type="text" id="edition" value={{edition}} name="edition"><br />
    <input type="url" id="image" value={{image}} name="image"><br />
    <button type="submit" id="edit">Edit Mug</button>
  </form>
  <a href="/delete/{{_id}}">DELETE MUG</a><br />

</body>
</html>
