<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Your Mug</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>{{appType}}!</h1>
  <form method="post" action="/edit/{{id}}" >
    <input type="text" id="city" placeholder="City:" name="city"><br />
    <input type="text" id="country" placeholder="Country:" name="country"><br />
    <input type="text" id="edition" placeholder="Edition:" name="edition"><br />
    <input type="url" id="image" placeholder="Image URL:" name="image"><br />
    <button type="submit" id="submit">Submit</button>
  </form>

</body>
</html>
