<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Starbucks Mug Info</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>Here's Your Mug:</h1>
   {{#mug}}
      <div>id: {{id}}</div>
      <div>_id: {{_id}}</div>
      <div>City: {{city}}</div>
      <div>Country: {{country}}</div>
      <div>Edition: {{edition}}</div>
      <div>Image: <img src="{{image}}"></div>
      <a href="/delete/{{id}}">CLICK HERE AND ONLY HERE TO DELETE THIS MUG</a>
    {{/mug}}
      <a href="/">Return To Form</a>
</body>
</html>
