<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Starbucks Mug Info</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>Here's Your Mug:</h1>
      <div>Mug id: {{id}}</div>
      <div>City: {{city}}</div>
      <div>Country: {{country}}</div>
      <div>Edition: {{edition}}</div>
      <div>Image: {{image}}</div>
</body>
</html>
